
header{
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
    padding: 30px 0;
    background-color: rgb(190, 224, 217);

}
.headerMain{
    display: flex;
    justify-content: space-between;
    list-style: none;
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
}
.itemLink{
    text-decoration: none;
    color: rgb(90, 60, 20);
    font-size: 19px;
}
.activeLink{
    color: rgb(56, 33, 1);
    font-weight: 600;
    font-size: 19px;
}